.recommended_movies {
    --auto-grid-min-size: 8rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(var(--auto-grid-min-size), 1fr));
    column-gap: 20px;
    row-gap: 20px;
    padding: 10px 10px;
}

.recommended_movie img {
    width: 100%;
    height: 70%;
    object-fit: cover;
}

.card {
    position: relative;
}

.bookmark_icon {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1;
    color: #fff;
    cursor: pointer;
}

.bookmark_icon:hover {
    color: #F74944;
}

.card:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px !important;
}

.card_content {
    text-align: left;
    padding: 10px 0px 10px 5px !important;
}

.card_content span {
    font-weight: 300;
}

.card_content span:first-child {
    margin-right: 10px;
}



.card_content h4 {
    margin: 8px 0px;
}

@media screen and (min-width: 768px) {
    .recommended_movies {
        --auto-grid-min-size: 12rem;
        grid-template-columns: repeat(auto-fill, minmax(var(--auto-grid-min-size), 1fr));
    }
}

@media screen and (min-width: 900px) {
    .recommended_movies {
        --auto-grid-min-size: 14rem;
        grid-template-columns: repeat(auto-fill, minmax(var(--auto-grid-min-size), 1fr));
    }
}